.idea
.vscode
**/*.tfstate*
*.tfstate*
**/.terraform
.terraform
**/.terraform.lock.hcl
.terraform.lock.hcl
!**/.terraform-docs.yml
!.terraform-docs.yml
**/go.*
go.*
secrets.json
**/variables.yml
variables.yml
!examples/complete/variables.yml
secrets.yml
**/secrets.json
**/secrets.yml
workspaces/*.yml
!workspaces/*.enc.yml
.env
